:host {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  display: inline-block;
  border-top: 0.4rem solid #d4e3e0;
  border-right: 0.4rem solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

:host::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border-bottom: 0.4rem solid #d4e3e0;
  border-left: 0.4rem solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
